@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


* {
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    display: flex;
    position: absolute;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1611095971113-9f7542655338?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2102&q=80 no-repeat');
    filter: blur(0px);
    z-index: -1;
}

.percentage {
    margin: auto;
    color: #fff;
    font-size: 50px;
    
}